# This task assumes that it is invoked with the following loop:
# loop:
#   - { name: "hub", config: "{{ HUBCONFIG }}", cluster_name: "{{ hub_cluster_name }}" }
#   - { name: "spoke", config: "{{ SPOKECONFIG }}", cluster_name: "{{ spoke_cluster_name }}" }

- name: Get worker node ip list for "{{ item.name }}"
  ansible.builtin.shell: |
    oc describe nodes -l node-role.kubernetes.io/worker | grep InternalIP: | awk {' print $2 '}
  environment:
    KUBECONFIG: "{{ item.config }}"
  register: worker_nodes

- name: Gather security group info for workers for "{{ item.name }}"
  amazon.aws.ec2_security_group_info:
    profile: "{{ aws_profile }}"
    region: "{{ aws_region }}"
    filters:
      "tag:sigs.k8s.io/cluster-api-provider-aws/role": "node"
      "tag:Name": "{{ item.cluster_name }}-*"
  register: ec2_security_group_info

- name: debug for "{{ item.name }} - {{ item.cluster_name }}"
  ansible.builtin.debug:
    msg: "ec2_security_group_info: {{ ec2_security_group_info }}"

- name: Set vpc and sg id for "{{ item.name }}"
  ansible.builtin.set_fact:
    sg_vpc_id: "{{ ec2_security_group_info.security_groups[0].vpc_id }}"
    sg_group_id: "{{ ec2_security_group_info.security_groups[0].group_id }}"
    sg_group_name: "{{ ec2_security_group_info.security_groups[0].group_name }}"
    sg_worker_description: "{{ ec2_security_group_info.security_groups[0].description }}"

- name: Gather vpc subnet info for workers for "{{ item.name }}"
  amazon.aws.ec2_vpc_subnet_info:
    profile: "{{ aws_profile }}"
    region: "{{ aws_region }}"
    filters:
      vpc-id: "{{ sg_vpc_id }}"
  register: ec2_vpc_subnet_info

- name: Set public subnet id for "{{ item.name }}"
  ansible.builtin.set_fact: # only add the public subnet, and there will be only exactly one
    public_subnet_id: "{{ ec2_vpc_subnet_info.subnets |  selectattr('map_public_ip_on_launch', '==', true) | map(attribute='subnet_id') | first }}"

- name: Debug subnet for "{{ item.name }}"
  ansible.builtin.debug:
    msg: "public_subnet_id: {{ public_subnet_id }} - ec2_vpc_subnet_info: {{ ec2_vpc_subnet_info }}"

- name: Open up worker node security groups
  amazon.aws.ec2_security_group:
    profile: "{{ aws_profile }}"
    region: "{{ aws_region }}"
    name: "{{ sg_group_name }}"
    description: "{{ sg_worker_description }}"
    rules:
      - proto: tcp
        ports:
          - 179
        cidr_ip: 10.0.0.0/16 # TODO: get this from the vpc
        rule_desc: BGP port
      - proto: tcp
        ports:
          - 80
        cidr_ip: 10.0.0.0/16
        rule_desc: HTTP for testing
      - proto: udp
        ports:
          - 3784
        cidr_ip: 10.0.0.0/16
        rule_desc: BFD port
    purge_rules: false

- name: Get NICs for a vpc
  amazon.aws.ec2_eni_info:
    profile: "{{ aws_profile }}"
    region: "{{ aws_region }}"
    filters:
      vpc-id: "{{ sg_vpc_id }}"
      interface-type: interface
  register: ec2_eni_info

# Modify the each worker node interface to disable source/dest check (needed for the ip address not on the vpc)
- name: Disable source/dest check on worker node NIC-s
  amazon.aws.ec2_eni:
    profile: "{{ aws_profile }}"
    region: "{{ aws_region }}"
    source_dest_check: false
    eni_id: "{{ item['id'] }}"
  when: item['private_ip_address'] in worker_nodes.stdout_lines
  loop: "{{ ec2_eni_info['network_interfaces'] }}"

- name: Create ec2 security group
  amazon.aws.ec2_security_group:
    profile: "{{ aws_profile }}"
    region: "{{ aws_region }}"
    name: test-client-{{ item.cluster_name }}-security-group
    description: sec group for test client
    vpc_id: "{{ sg_vpc_id }}"
    rules:
    - proto: tcp
      ports:
        - 22
      group_id: "{{ sg_group_id }}"
      rule_desc: allow ssh from the ocp workers to debug

- name: Start an ec2 instance (test-client)
  amazon.aws.ec2_instance:
    profile: "{{ aws_profile }}"
    region: "{{ aws_region }}"
    name: "test-client-{{ item.cluster_name }}"
    state: started
    wait: true
    vpc_subnet_id: "{{ public_subnet_id }}"
    instance_type: "{{ test_client_ec2_instance_type }}"
    key_name: "{{ test_client_ec2_ssh_key_name }}"
    security_group: test-client-{{ item.cluster_name }}-security-group
    image_id: "{{ test_client_ec2_ami_image_id }}"
    user_data: |
      #cloud-config
      chpasswd:
        expire: false
      password: {{ test_client_ec2_user_password }}
      ssh_pwauth: true
      user: ec2-user
      packages:
      - tmux
      - nc
      - traceroute
      - tcpdump
      - vim

- name: Get route server
  ansible.builtin.shell: |
    aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 describe-route-servers \
    --filters Name=tag:Name,Values=test-routeserver-{{ item.cluster_name }} \
    --output json --no-cli-pager
  register: get_route_server_raw

- name: Create route server if it does not exists
  ansible.builtin.shell: |
    aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 create-route-server \
    --amazon-side-asn {{ aws_route_server_asn }} \
    --tag-specifications ResourceType=route-server,Tags=\[\{Key=Name,Value=test-routeserver-{{ item.cluster_name }}\}\] \
    --output json --no-cli-pager
  when: get_route_server['RouteServers'] | selectattr('State', 'equalto', 'available') | length == 0
  vars:
   get_route_server: "{{ get_route_server_raw.stdout | from_yaml }}"

- name: Get route server
  ansible.builtin.shell: |
    aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 describe-route-servers \
    --filters Name=tag:Name,Values=test-routeserver-{{ item.cluster_name }} \
    --output json --no-cli-pager
  register: get_route_server_raw

- name: Set the id of the route server
  ansible.builtin.set_fact:
    route_server_id: "{{ get_route_server['RouteServers'] | selectattr('State', 'equalto', 'available') | map(attribute='RouteServerId') | first }}"
  vars:
    get_route_server: "{{ get_route_server_raw.stdout | from_yaml }}"

- name: Associate route server with vpc
  ansible.builtin.shell: |
    aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 associate-route-server \
    --route-server-id {{ route_server_id }} \
    --vpc-id {{ sg_vpc_id }}

- name: Get route server endpoint
  ansible.builtin.shell: |
    aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 describe-route-server-endpoints \
    --filters Name=tag:Name,Values=test-routeserver-endpoint-{{ item.cluster_name }} \
    --output json --no-cli-pager
  register: get_route_server_endpoint_raw

- name: Create route server endpoint in a subnet in the vpc if it does not exists
  ansible.builtin.shell: |
    aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 create-route-server-endpoint \
    --route-server-id {{ route_server_id }} \
    --subnet-id {{ public_subnet_id }} \
    --tag-specifications ResourceType=route-server-endpoint,Tags=\[\{Key=Name,Value=test-routeserver-endpoint-{{ item.cluster_name }}\}\] \
    --output json --no-cli-pager
  when: get_route_server_endpoint['RouteServerEndpoints'] | selectattr('State', 'equalto', 'available') | length == 0
  vars:
   get_route_server_endpoint: "{{ get_route_server_endpoint_raw.stdout | from_yaml }}"

- name: Get route server endpoint
  ansible.builtin.shell: |
    aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 describe-route-server-endpoints \
    --filters Name=tag:Name,Values=test-routeserver-endpoint-{{ item.cluster_name }} \
    --output json --no-cli-pager
  register: get_route_server_endpoint_raw
  until: get_route_server_endpoint['RouteServerEndpoints'] | selectattr('State', 'equalto', 'available') | length != 0
  vars:
    get_route_server_endpoint: "{{ get_route_server_endpoint_raw.stdout | from_yaml }}"
  retries: 10
  delay: 5

- name: Print IP address of the route server endpoint
  ansible.builtin.debug:
    msg: "IP: {{ aws_route_get_server_endpoint['RouteServerEndpoints'] | map(attribute='EniAddress') | first }}"
  vars:
    aws_route_get_server_endpoint: "{{ get_route_server_endpoint_raw.stdout | from_yaml }}"

- name: Set the id of the route server endpoint
  ansible.builtin.set_fact:
    rse_id: "{{ aws_route_get_server_endpoint['RouteServerEndpoints'] | map(attribute='RouteServerEndpointId') | first }}"
  vars:
    aws_route_get_server_endpoint: "{{ get_route_server_endpoint_raw.stdout | from_yaml }}"

- name: Create route server peers for each worker node
  ansible.builtin.shell: |
    aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 create-route-server-peer \
    --route-server-endpoint-id {{ rse_id }} --peer-address {{ item }} --bgp-options PeerAsn={{ metallb_asn }},PeerLivenessDetection={{ aws_route_server_peer_detection }} \
    --tag-specifications ResourceType=route-server-peer,Tags=\[\{Key=Name,Value={{ item.cluster_name }}-node-{{ item }}\}\] \
    --output json --no-cli-pager
  loop: "{{ worker_nodes.stdout_lines }}"

- name: Get route table id-s for vpc
  ansible.builtin.shell: |
    aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 describe-route-tables \
    --filters Name=vpc-id,Values={{ sg_vpc_id }} \
    --output json --no-cli-pager
  register: get_route_tables_raw

- name: Set route table id-s for vpc
  ansible.builtin.set_fact:
    route_table_ids: "{{ rt['RouteTables'] | map(attribute='RouteTableId') | list }}"
  vars:
    rt: "{{ get_route_tables_raw.stdout | from_yaml }}"

- name: Create route server propagation for each worker node subnet
  ansible.builtin.shell: |
    aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 enable-route-server-propagation \
    --route-server-id {{ route_server_id }} \
    --route-table-id {{ item }} \
    --output json --no-cli-pager
  loop: "{{ route_table_ids }}"
