---
- name: Playbook to cleanup up the the BGP routing with a client ec2 in aws
  hosts: localhost
  gather_facts: false
  become: false
  vars_files:
    # Use this to override stuff that won't be committed to git
    - ../overrides.yml

  tasks:
    - name: Get AWS caller identity for Owner tag
      amazon.aws.aws_caller_info:
        profile: "{{ aws_profile }}"
      register: aws_caller_info

    - name: Set OCP owner from AWS user
      ansible.builtin.set_fact:
        ocp_owner: "{{ aws_caller_info.arn.split('/')[-1] | default(ansible_env.USER) | default(ansible_user_id) | default('unknown') }}"

    - name: Print AWS infos
      ansible.builtin.debug:
        msg: "Region: {{ ocp_region }} - AWS Profile: {{ aws_profile }} OCP owner: {{ ocp_owner }}"

    - name: Delete created key pair
      amazon.aws.ec2_key:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        name: "{{ test_client_ec2_ssh_key_name }}"
        state: absent

    - name: Gather the ec2 instance details
      amazon.aws.ec2_instance_info:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        filters:
          "tag:Name": "test-client-{{ ocp_owner }}"
      register: ec2_node_info

    - name: Set ec2 instance id
      ansible.builtin.set_fact:
        instance_id: "{{ ec2_node_info.instances | map(attribute='instance_id') | first  }}"

    - name: Delete ec2 instance
      amazon.aws.ec2_instance:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        instance_ids:
          - "{{ instance_id }}"
        state: terminated

    - name: Delete ec2 security group
      amazon.aws.ec2_security_group:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        name: test-client-security-group
        state: absent
