---
- name: Playbook to cleanup up the the BGP routing with a client ec2 in aws
  hosts: localhost
  gather_facts: false
  become: false
  vars_files:
    # Use this to override stuff that won't be committed to git
    - ../overrides.yml

  tasks:
    - name: Get AWS caller identity for Owner tag
      amazon.aws.aws_caller_info:
        profile: "{{ aws_profile }}"
      register: aws_caller_info

    - name: Print AWS infos
      ansible.builtin.debug:
        msg: "Region: {{ ocp_region }} - AWS Profile: {{ aws_profile }} OCP owner: {{ ocp_cluster_name }}"


    - name: Get route server
      ansible.builtin.shell: |
        aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 describe-route-servers \
        --filters Name=tag:Name,Values=test-routeserver-{{ ocp_cluster_name }} \
        --output json --no-cli-pager
      register: get_route_server_raw

    - name: Delete route-server resources if the route server exists
      when: get_route_server['RouteServers'] | selectattr('State', 'equalto', 'available')
      vars:
        get_route_server: "{{ get_route_server_raw.stdout | from_yaml }}"
      block:

      - name: Get route server peers for each worker node
        ansible.builtin.shell: |
          aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 describe-route-server-peers \
          --filters Name=tag:Name,Values={{ ocp_cluster_name }}-node-* \
          --output json --no-cli-pager
        register: route_server_peers

      - name: Delete route server peers for each worker node
        ansible.builtin.shell: |
          aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 delete-route-server-peer \
          --route-server-peer-id {{ item['RouteServerPeerId'] }} \
          --output json --no-cli-pager
        loop: "{{ route_servers['RouteServerPeers'] }}"
        when: item['State'] == 'available'
        vars:
          route_servers: "{{ route_server_peers.stdout | from_yaml }}"

      - name: Set the id of the route server
        ansible.builtin.set_fact:
          route_server_id: "{{ get_route_server['RouteServers'] | map(attribute='RouteServerId') | first }}"
        vars:
          get_route_server: "{{ get_route_server_raw.stdout | from_yaml }}"

      - name: Get route server endpoint
        ansible.builtin.shell: |
          aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 describe-route-server-endpoints \
          --filters Name=tag:Name,Values=test-routeserver-endpoint-{{ ocp_cluster_name }} \
          --output json --no-cli-pager
        register: get_route_server_endpoint_raw

      - name: Set the id of the route server endpoint
        ansible.builtin.set_fact:
          route_server_endpoint_id: "{{ get_route_server_endpoint['RouteServerEndpoints'] | map(attribute='RouteServerEndpointId') | first }}"
        vars:
          get_route_server_endpoint: "{{ get_route_server_endpoint_raw.stdout | from_yaml }}"
      # TODO: wait here for all peers to be deleted
      - name: Delete route server endpoint (if not deleted)
        ansible.builtin.shell: |
          aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 delete-route-server-endpoint \
          --route-server-endpoint-id {{ route_server_endpoint_id }} \
          --output json --no-cli-pager
        when: (get_route_server_endpoint['RouteServerEndpoints'] | map(attribute='State') | first) == 'available'
        vars:
          get_route_server_endpoint: "{{ get_route_server_endpoint_raw.stdout | from_yaml }}"

      - name: Get route server propagations
        ansible.builtin.shell: |
          aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 get-route-server-propagations \
          --route-server-id {{ route_server_id }} \
          --output json --no-cli-pager
        register: get_route_server_propagations_raw

      - name: Delete route server propagation for each worker node subnet
        ansible.builtin.shell: |
          aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 disable-route-server-propagation \
          --route-server-id {{ route_server_id }} \
          --route-table-id {{ item['RouteTableId'] }} \
          --output json --no-cli-pager
        loop: "{{ get_route_server_propagations['RouteServerPropagations'] }}"
        when: item['State'] == 'available'
        vars:
          get_route_server_propagations: "{{ get_route_server_propagations_raw.stdout | from_yaml }}"

      - name: Wait until all route server propagations are deleted
        ansible.builtin.shell: |
          aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 get-route-server-propagations \
          --route-server-id {{ route_server_id }} \
          --output json --no-cli-pager
        register: get_route_server_propagations_raw
        until: get_route_server_propagations['RouteServerPropagations'] | length == 0
        vars:
          get_route_server_propagations: "{{ get_route_server_propagations_raw.stdout | from_yaml }}"
        retries: 5
        delay: 5

      - name: Get route server association
        ansible.builtin.shell: |
          aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 get-route-server-associations \
          --route-server-id {{ route_server_id }} \
          --output json --no-cli-pager
        register: get_route_server_association_raw
        ignore_errors: true # If there is no association, just ignore the failiure, and handle in following tasks

      - name: Set the vpc-id from the route server association
        ansible.builtin.set_fact:
          vpc_id: "{{ get_route_seget_route_server_association['RouteServerAssociations'] | map(attribute='VpcId') | first }}"
        when: get_route_server_association_raw is not failed
        vars:
          get_route_seget_route_server_association: "{{ get_route_server_association_raw.stdout | from_yaml }}"

      - name: Disassociate route server from vpc
        ansible.builtin.shell: |
          aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 disassociate-route-server \
          --route-server-id {{ route_server_id }} \
          --vpc-id {{ vpc_id }}
        when:
          - get_route_server_association_raw is not failed
          - (get_route_seget_route_server_association['RouteServerAssociations'] | map(attribute='State') | first) == 'associated'
        vars:
          get_route_seget_route_server_association: "{{ get_route_server_association_raw.stdout | from_yaml }}"

      - name: Delete route server
        ansible.builtin.shell: |
          aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 delete-route-server \
          --route-server-id {{ route_server_id }} \
          --output json --no-cli-pager
        when: (get_route_server['RouteServers'] | map(attribute='State') | first) == 'available'
        vars:
          get_route_server: "{{ get_route_server_raw.stdout | from_yaml }}"

    - name: Delete created key pair
      amazon.aws.ec2_key:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        name: "{{ test_client_ec2_ssh_key_name }}"
        state: absent

    - name: Gather the ec2 instance details
      amazon.aws.ec2_instance_info:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        filters:
          "tag:Name": "test-client-{{ ocp_cluster_name }}"
      register: ec2_node_info

    - name: delete ec2 instance if it exists
      when: ec2_node_info.instances | length != 0
      block:
      - name: Set ec2 instance id
        ansible.builtin.set_fact:
          instance_id: "{{ ec2_node_info.instances | map(attribute='instance_id') | first  }}"

      - name: Delete ec2 instance
        amazon.aws.ec2_instance:
          profile: "{{ aws_profile }}"
          region: "{{ ocp_region }}"
          instance_ids:
            - "{{ instance_id }}"
          state: terminated

    - name: Delete ec2 security group
      amazon.aws.ec2_security_group:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        name: test-client-security-group
        state: absent
