---
- name: Playbook to set up the BGP routing with a client ec2 in aws
  hosts: localhost
  gather_facts: false
  become: false
  vars_files:
    # Use this to override stuff that won't be committed to git
    - ../overrides.yml

  tasks:
    - name: Get AWS caller identity for Owner tag
      amazon.aws.aws_caller_info:
        profile: "{{ aws_profile }}"
      register: aws_caller_info

    - name: Print AWS infos
      ansible.builtin.debug:
        msg: "Region: {{ ocp_region }} - AWS Profile: {{ aws_profile }} OCP owner: {{ ocp_cluster_name }}"

    - name: Get worker node ip list
      ansible.builtin.shell: |
        oc describe nodes -l node-role.kubernetes.io/worker | grep InternalIP: | awk {' print $2 '}
      register: worker_nodes

    - name: Create key pair to access ec2 with ssh
      amazon.aws.ec2_key:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        name: "{{ test_client_ec2_ssh_key_name }}"
        key_material: "{{ ssh_pubkey }}"

    - name: Gather security group info for workers
      amazon.aws.ec2_security_group_info:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        filters:
          "tag:sigs.k8s.io/cluster-api-provider-aws/role": "node"
          "tag:Name": "{{ ocp_cluster_name }}-*"
      register: sg_info

    - name: Set vpc and sg id
      ansible.builtin.set_fact:
        sg_vpc_id: "{{ sg_info.security_groups[0].vpc_id }}"
        sg_group_id: "{{ sg_info.security_groups[0].group_id }}"

    - name: Gather vpc info for workers
      amazon.aws.ec2_vpc_subnet_info:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        filters:
          vpc-id: "{{ sg_vpc_id }}"
      register: subnet_info

    - name: Set public subnet id
      ansible.builtin.set_fact: # only add the public subnet, and there will be only exactly one
        public_subnet_id: "{{ subnet_info.subnets |  selectattr('map_public_ip_on_launch', '==', true) | map(attribute='subnet_id') | first }}"

    - name: Print AWS infos
      ansible.builtin.debug:
        msg: "subnet: {{ public_subnet_id }}"

    - name: Get NICs for a vpc
      amazon.aws.ec2_eni_info:
        profile: "{{ aws_profile }}"
        region: "{{ aws_region }}"
        filters:
          vpc-id: "{{ sg_vpc_id }}"
          interface-type: interface
      register: aws_enis

    # Modify the each worker node interface to disable source/dest check (needed for the ip address not on the vpc)
    - name: Disable source/dest check on worker node NIC-s
      amazon.aws.ec2_eni:
        profile: "{{ aws_profile }}"
        region: "{{ aws_region }}"
        source_dest_check: false
        eni_id: "{{ item['id'] }}"
      when: item['private_ip_address'] in worker_nodes.stdout_lines
      loop: "{{ aws_enis['network_interfaces'] }}"

    - name: Create ec2 security group
      amazon.aws.ec2_security_group:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        name: test-client-security-group
        description: sec group for test client
        vpc_id: "{{ sg_vpc_id }}"
        rules:
        - proto: tcp
          ports:
            - 22
          group_id: "{{ sg_group_id }}"
          rule_desc: allow ssh from the ocp workers to debug

    - name: Start an instance with EBS
      amazon.aws.ec2_instance:
        profile: "{{ aws_profile }}"
        region: "{{ ocp_region }}"
        name: "test-client-{{ ocp_cluster_name }}"
        state: started
        wait: true
        vpc_subnet_id: "{{ public_subnet_id }}"
        instance_type: "{{ test_client_ec2_instance_type }}"
        key_name: "{{ test_client_ec2_ssh_key_name }}"
        security_group: test-client-security-group
        network_interfaces:
          - assign_public_ip: false
            private_ip_addresses:
            - primary: true
              private_ip_address: "{{ test_client_ec2_primary_ip }}"
        image_id: "{{ test_client_ec2_ami_image_id }}"
        user_data: |
          #cloud-config
          chpasswd:
            expire: false
          password: {{ test_client_ec2_user_password }}
          ssh_pwauth: true
          user: ec2-user
          packages:
          - tmux
          - nc
          - traceroute
          - tcpdump
          - vim

    - name: Get route server
      ansible.builtin.shell: |
        aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 describe-route-servers \
        --filters Name=tag:Name,Values=test-routeserver-{{ ocp_cluster_name }} \
        --output json --no-cli-pager
      register: aws_route_server_raw

    - name: Create route server if it does not exists
      ansible.builtin.shell: |
        aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 create-route-server \
        --amazon-side-asn {{ aws_route_server_asn }} \
        --tag-specifications ResourceType=route-server,Tags=\[\{Key=Name,Value=test-routeserver-{{ ocp_cluster_name }}\}\] \
        --output json --no-cli-pager
      when: aws_route_server['RouteServers'] | length == 0
      vars:
       aws_route_server: "{{ aws_route_server_raw.stdout | from_yaml }}"
      register: aws_route_server_raw_created

      # TODO: fix me
    - name: Set the id of the route server (created now)
      ansible.builtin.set_fact:
        aws_route_server_id: "{{ aws_route_server['RouteServers'] | map(attribute='RouteServerId') | first }}"
      vars:
        aws_route_server: "{{ aws_route_server_raw_created.stdout | from_yaml }}"
      when: aws_route_server_raw_created is changed

    - name: Set the id of the route server (created earlier)
      ansible.builtin.set_fact:
        aws_route_server_id: "{{ aws_route_server['RouteServers'] | map(attribute='RouteServerId') | first }}"
      vars:
        aws_route_server: "{{ aws_route_server_raw.stdout | from_yaml }}"
      when: aws_route_server_raw_created is skipped

    - name: Associate route server with vpc
      ansible.builtin.shell: |
        aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 associate-route-server \
        --route-server-id {{ aws_route_server_id }} \
        --vpc-id {{ sg_vpc_id }}

    - name: Get route server endpoint
      ansible.builtin.shell: |
        aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 describe-route-server-endpoints \
        --filters Name=tag:Name,Values=test-routeserver-endpoint-{{ ocp_cluster_name }} \
        --output json --no-cli-pager
      register: aws_route_get_server_endpoint_raw

    - name: Create route server endpoint in a subnet in the vpc if it does not exists
      ansible.builtin.shell: |
        aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 create-route-server-endpoint \
        --route-server-id {{ aws_route_server_id }} \
        --subnet-id {{ public_subnet_id }} \
        --tag-specifications ResourceType=route-server-endpoint,Tags=\[\{Key=Name,Value=test-routeserver-endpoint-{{ ocp_cluster_name }}\}\] \
        --output json --no-cli-pager
      register: aws_route_server_endpoint_created_raw
      when: aws_route_server_endpoint['RouteServerEndpoints'] | length == 0
      vars:
       aws_route_server_endpoint: "{{ aws_route_get_server_endpoint_raw.stdout | from_yaml }}"

    - name: Print IP address of the route server endpoint (created now)
      ansible.builtin.debug:
        msg: "IP: {{ aws_route_get_server_endpoint }}"
      when: aws_route_server_endpoint_created_raw is changed
      vars:
        aws_route_get_server_endpoint: "{{ aws_route_server_endpoint_created_raw.stdout | from_yaml }}"

    - name: Print IP address of the route server endpoint (created earlier)
      ansible.builtin.debug:
        msg: "IP: {{ aws_route_get_server_endpoint['RouteServerEndpoints'] | map(attribute='EniAddress') | first }}"
      when: aws_route_server_endpoint_created_raw is skipped
      vars:
        aws_route_get_server_endpoint: "{{ aws_route_get_server_endpoint_raw.stdout | from_yaml }}"

    # TODO: fix me
    - name: Set the id of the route server endpoint (created now)
      ansible.builtin.set_fact:
        rse_id: "{{ aws_route_get_server_endpoint['RouteServerEndpoint'] | map(attribute='RouteServerEndpointId') | first }}"
      vars:
        aws_route_get_server_endpoint: "{{ aws_route_server_endpoint_created_raw.stdout | from_yaml }}"
      when: aws_route_server_endpoint_created_raw is changed

    - name: Set the id of the route server endpoint (created earlier)
      ansible.builtin.set_fact:
        rse_id: "{{ aws_route_get_server_endpoint['RouteServerEndpoints'] | map(attribute='RouteServerEndpointId') | first }}"
      vars:
        aws_route_get_server_endpoint: "{{ aws_route_get_server_endpoint_raw.stdout | from_yaml }}"
      when: aws_route_server_endpoint_created_raw is skipped

    # TODO wait for route server endpoint state to be ready
    - name: Create route server peers for each worker node
      ansible.builtin.shell: |
        aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 create-route-server-peer \
        --route-server-endpoint-id {{ rse_id }} --peer-address {{ item }} --bgp-options PeerAsn={{ metallb_asn }},PeerLivenessDetection=bgp-keepalive \
        --tag-specifications ResourceType=route-server-peer,Tags=\[\{Key=Name,Value=node-{{ item }}\}\] \
        --output json --no-cli-pager
      loop: "{{ worker_nodes.stdout_lines }}"

    - name: Get route table id-s for vpc
      ansible.builtin.shell: |
        aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 describe-route-tables \
        --filters Name=vpc-id,Values={{ sg_vpc_id }} \
        --output json --no-cli-pager
      register: route_tables_raw

    - name: Set route table id-s for vpc
      ansible.builtin.set_fact:
        route_table_ids: "{{ rt['RouteTables'] | map(attribute='RouteTableId') | list }}"
      vars:
        rt: "{{ route_tables_raw.stdout | from_yaml }}"

    - name: Create route server propagation for each worker node subnet
      ansible.builtin.shell: |
        aws --profile {{ aws_profile }} --region {{ aws_region }} ec2 enable-route-server-propagation \
        --route-server-id {{ aws_route_server_id }} \
        --route-table-id {{ item }} \
        --output json --no-cli-pager
      loop: "{{ route_table_ids }}"
