---
- name: Playbook to set up the BGP routing with a client ec2 in aws
  hosts: localhost
  gather_facts: false
  become: false
  vars_files:
    # Use this to override stuff that won't be committed to git
    - ../overrides.yml

  tasks:
    - name: Get AWS caller identity for Owner tag
      amazon.aws.aws_caller_info:
        profile: "{{ aws_profile }}"
      register: aws_caller_info

    - name: Set AWS ARN User ID
      ansible.builtin.set_fact:
        aws_arn_userid: "{{ aws_caller_info.arn | split('/') | last }}"

    - name: Set AWS ec2 ssh key name
      ansible.builtin.set_fact:
        test_client_ec2_ssh_key_name: "{{ aws_arn_userid }}-ssh-key-rsa"

    - name: Checks
      ansible.builtin.include_tasks: check_task.yml

    - name: Print AWS info
      ansible.builtin.debug:
        msg: "AWS User: {{ aws_arn_userid }} - AWS Region: {{ aws_region }} - AWS Profile: {{ aws_profile }} - Hub: {{ hub_cluster_name }} - Spoke: {{ spoke_cluster_name }}"

    - name: Get ami image
      ansible.builtin.shell: |
        aws --profile {{ aws_profile }} ec2 describe-images \
        --owners {{ aws_ami_owner }} \
        --filters "Name=name,Values={{ aws_ami_name }}*" "Name=state,Values=available" "Name=architecture,Values={{ aws_ami_arch }}" \
        --region {{ aws_region }} \
        --query 'sort_by(Images, &CreationDate)[-1].ImageId' \
        --output text
      register: test_client_ec2_ami_image_id_raw

    - name: Set ami image fact
      ansible.builtin.set_fact:
        test_client_ec2_ami_image_id: "{{ test_client_ec2_ami_image_id_raw.stdout }}"

    - name: Print ami image use
      ansible.builtin.debug:
        msg: "Using AMI image: {{ test_client_ec2_ami_image_id }}"

    - name: Create key pair to access ec2 with ssh
      amazon.aws.ec2_key:
        profile: "{{ aws_profile }}"
        region: "{{ aws_region }}"
        name: "{{ test_client_ec2_ssh_key_name }}"
        key_material: "{{ ssh_pubkey }}"

    - ansible.builtin.include_tasks: network_task.yml
      loop:
        - { name: "hub", config: "{{ HUBCONFIG }}", cluster_name: "{{ hub_cluster_name }}" }
        - { name: "spoke", config: "{{ SPOKECONFIG }}", cluster_name: "{{ spoke_cluster_name }}" }
      loop_control:
        loop_var: ocp

    - name: Start an ec2 instance (test-client) 
      amazon.aws.ec2_instance:
        profile: "{{ aws_profile }}"
        region: "{{ aws_region }}"
        name: "test-client-{{ hub_cluster_name }}"
        state: started
        wait: true
        vpc_subnet_id: "{{ hub_public_subnet_id }}"
        instance_type: "{{ test_client_ec2_instance_type }}"
        key_name: "{{ test_client_ec2_ssh_key_name }}"
        security_group: "test-client-{{ hub_cluster_name }}-security-group"
        image_id: "{{ test_client_ec2_ami_image_id }}"
        user_data: |
          #cloud-config
          chpasswd:
            expire: false
          password: {{ test_client_ec2_user_password }}
          ssh_pwauth: true
          user: ec2-user
          packages:
          - tmux
          - nc
          - traceroute
          - tcpdump
          - vim
      register: client_instance_info

    - name: Debug ec2 instance
      ansible.builtin.debug:
        msg: "{{ client_instance_info }}"

    - name: Create ENI in spoke's vpc subnet
      amazon.aws.ec2_eni:
        profile: "{{ aws_profile }}"
        subnet_id: "{{ spoke_public_subnet_id }}" # ⬅️ Subnet in VPC B, but same AZ
        security_groups: "test-client-spoke-security-group"
        region: "{{ aws_region }}"
        tags:
          Name: "Spoke-vpc-nic"
      register: eni_info

    - name: Attach the Secondary ENI to the Instance
      amazon.aws.ec2_eni:
        profile: "{{ aws_profile }}"
        eni_id: "{{ eni_info.eni.id }}"
        instance_id: "{{ client_instance_info.instance_ids[0] }}"
        device_index: 1  # ⬅️ Must be 1 or greater for a secondary NIC
        state: attached
        region: "{{ aws_region }}"
