---
- name: Playbook to set up the BGP routing with a client ec2 in aws
  hosts: localhost
  gather_facts: false
  become: false
  vars:
    wait_for_ssh_timeout: 600
  vars_files:
    # Use this to override stuff that won't be committed to git
    - ../overrides.yml

  tasks:
    - name: Get AWS caller identity for Owner tag
      amazon.aws.aws_caller_info:
        profile: "{{ aws_profile }}"
      register: aws_caller_info

    - name: Set AWS ARN User ID
      ansible.builtin.set_fact:
        aws_arn_userid: "{{ aws_caller_info.arn | split('/') | last }}"

    - name: Set AWS ec2 ssh key name
      ansible.builtin.set_fact:
        test_client_ec2_ssh_key_name: "{{ aws_arn_userid }}-ssh-key-rsa"

    - name: Checks
      ansible.builtin.include_tasks: check_task.yml

    - name: Print AWS info
      ansible.builtin.debug:
        msg: "AWS User: {{ aws_arn_userid }} - AWS Region: {{ aws_region }} - AWS Profile: {{ aws_profile }} - Hub: {{ hub_cluster_name }} - Spoke: {{ spoke_cluster_name }}"

    - name: Get ami image
      ansible.builtin.shell: |
        aws --profile {{ aws_profile }} ec2 describe-images \
        --owners {{ aws_ami_owner }} \
        --filters "Name=name,Values={{ aws_ami_name }}*" "Name=state,Values=available" "Name=architecture,Values={{ aws_ami_arch }}" \
        --region {{ aws_region }} \
        --query 'sort_by(Images, &CreationDate)[-1].ImageId' \
        --output text
      register: test_client_ec2_ami_image_id_raw

    - name: Set ami image fact
      ansible.builtin.set_fact:
        test_client_ec2_ami_image_id: "{{ test_client_ec2_ami_image_id_raw.stdout }}"

    - name: Print ami image use
      ansible.builtin.debug:
        msg: "Using AMI image: {{ test_client_ec2_ami_image_id }}"

    - name: Create key pair to access ec2 with ssh
      amazon.aws.ec2_key:
        profile: "{{ aws_profile }}"
        region: "{{ aws_region }}"
        name: "{{ test_client_ec2_ssh_key_name }}"
        key_material: "{{ ssh_pubkey }}"

    - ansible.builtin.include_tasks: network_task.yml
      loop:
        - { name: "hub", config: "{{ HUBCONFIG }}", cluster_name: "{{ hub_cluster_name }}" }
        - { name: "spoke", config: "{{ SPOKECONFIG }}", cluster_name: "{{ spoke_cluster_name }}" }
      loop_control:
        loop_var: ocp

    - name: Ensure security group exists
      amazon.aws.ec2_group:
        name: "internet-{{ aws_arn_userid }}"
        description: "security group to allow internet access to the client"
        region: "{{ aws_region }}"
        vpc_id: "{{ hub_vpc_id }}"
        profile: "{{ aws_profile }}"
        rules:
          - proto: tcp
            from_port: 22
            to_port: 22
            cidr_ip: 
              - 0.0.0.0/0
      register: sg

    - name: Start an ec2 instance (test-client)
      amazon.aws.ec2_instance:
        profile: "{{ aws_profile }}"
        region: "{{ aws_region }}"
        name: "test-client-{{ hub_cluster_name }}"
        state: started
        wait: true
        vpc_subnet_id: "{{ hub_public_subnet_id }}"
        instance_type: "{{ test_client_ec2_instance_type }}"
        key_name: "{{ test_client_ec2_ssh_key_name }}"
        security_group: "{{ sg.group_id }}"
        image_id: "{{ test_client_ec2_ami_image_id }}"
        network:
          assign_public_ip: true
        user_data: |
          #cloud-config
          chpasswd:
            expire: false
          user: ec2-user
          packages:
          - tmux
          - nc
          - traceroute
          - tcpdump
          - vim
      register: client_instance_info

    - name: Set instance facts
      ansible.builtin.set_fact:
        client_public_ip: "{{ client_instance_info.instances[0].public_ip_address }}"
        client_private_ip: "{{ client_instance_info.instances[0].private_ip_address }}"
        client_instance_id: "{{ client_instance_info.instances[0].instance_id }}"

    - name: Show instance details
      ansible.builtin.debug:
        msg:
          public_ip: "{{ client_public_ip }}"
          private_ip: "{{ client_private_ip }}"
          instance_id: "{{ client_instance_id }}"
          spoke_public_subnet_id: "{{ spoke_public_subnet_id }}"

    - name: Set dns facts (1)
      ansible.builtin.set_fact:
        record_name: "bgp_{{ aws_arn_userid }}"

    - name: Set dns facts (2)
      ansible.builtin.set_fact:
        fqdn: "{{ record_name }}.{{ hosted_zone | regex_replace('\n$','') }}"
        fqdn_nodot: "{{ record_name }}.{{ hosted_zone | regex_replace('\n$','') | regex_replace('\\.$','') }}"

    - name: Create/Update A record
      amazon.aws.route53:
        profile: "{{ aws_profile }}"
        zone: "{{ hosted_zone }}"
        record: "{{ fqdn }}"
        type: A
        ttl: 60
        value: "{{ client_public_ip }}"
        overwrite: true
        state: present
      register: r53

    - name: Show DNS
      ansible.builtin.debug:
        msg:
          fqdn: "{{ fqdn }}"
          r53: "{{ r53 }}"

    - name: Wait for SSH to be available
      ansible.builtin.wait_for:
        host: "{{ client_public_ip }}"
        port: 22
        timeout: "{{ wait_for_ssh_timeout }}"
        state: started

    - name: Fetch host key via ssh-keyscan ip
      ansible.builtin.command: "ssh-keyscan -H {{ client_public_ip }}"
      register: scanned_ip
      changed_when: false

    - name: Add new host to in-memory inventory
      ansible.builtin.add_host:
        name: "{{ fqdn_nodot }}"
        ansible_host: "{{ client_public_ip }}"
        groups: ["client_node"]
        ansible_user: ec2-user
        key: "{{ scanned_ip.stdout }}"

    - name: Create ENI in spoke's vpc subnet
      amazon.aws.ec2_eni:
        profile: "{{ aws_profile }}"
        region: "{{ aws_region }}"
        subnet_id: "{{ spoke_public_subnet_id }}" # ⬅️ Subnet in VPC B, but same AZ
        security_groups: "test-client-test-{{ spoke_cluster_name }}-security-group"
        tags:
          Name: "Spoke-vpc-nic"
      register: eni_info

    - name: Attach the Secondary ENI to the Instance
      amazon.aws.ec2_eni:
        profile: "{{ aws_profile }}"
        region: "{{ aws_region }}"
        eni_id: "{{ eni_info.eni.id }}"
        instance_id: "{{ client_instance_info.instance_ids[0] }}"
        device_index: 1  # ⬅️ Must be 1 or greater for a secondary NIC
        state: attached
        region: "{{ aws_region }}"
